layout {
  pane split_direction="vertical" size="25%" {
    pane {
      name "commands"
    }
    pane {
      name "tests"
    }
  }
  pane size="70%" {
    name "dev"
  }
  pane size="5%" {
    plugin location="zellij:status-bar"
  }
}
